.App {
  text-align: center;
  font-family: 'Open Sans', 'sans-serif' !important;
  /* max-width: 1920px !important; */
}

* {
  font-family: 'Open Sans', 'sans-serif' !important;
}

.banner_title {
  font-family: 'Solway', 'serif' !important;
}



.slick-slider .slick-slide {
  padding: 0 10px;
}

.PhoneInputInput {
  width: 200px !important;
  height: 100% !important;

}

.PhoneInputCountrySelect {
  height: 100% !important;

}


.css-1dimb5e-singleValue,
.css-qbdosj-Input {
  text-align: justify;
}

.phoneHeight {
  min-height: 100% !important;
  align-items: end;
  border: none;
}

.numberinput input {
  border: none;
  outline: none;
  width: 100%;
}

/* select  */

.css-dbi1yk-control {
  border: none !important;
  outline: none !important;

}

.css-15olw1o-control:hover {
  border: none !important;
  outline: none !important;
}

.css-b62m3t-container {
  border: 2px solid #8888 !important;
  border-radius: 5px;
  outline: none !important;
  height: 100% !important;
  height: 50px !important;

}

.css-b62m3t-container:focus {
  border: 1.5px solid #8888 !important;
  box-shadow: none !important;
  outline: none !important;
}


/* country  */
.css-1fdsijx-ValueContainer {
  padding: 7px !important;
  text-align: start;
  border: 0 !important;

}

.slick-list {
  padding: 2px;
}

.slick-next,
.slick-prev {
  position: absolute;
  width: 50px;
  height: 50px;
  background: #CCD3DC !important;
  border-radius: 50px;
  color: #CCD3DC !important;
  z-index: 2;


}

.slick-next::before {

  color: #fff;
  display: flex;
  justify-content: center;
  align-content: center !important;
  margin-top: 3px;


}

.slick-prev::before {
  color: #fff;
  display: flex;
  margin-top: 3px;
  justify-content: center;
  align-content: center !important;

}

/*  */

/*  */
.slick-next:hover {
  background: #CCD3DC;
}

.slick-prev:hover {
  background: #CCD3DC;
}


/* .slick-next {
  right: -50px;
}

.slick-prev {
  left: -50px;
} */



/*=============================================
=                  Our Team Page           =
=============================================*/

.ourTeam .slick-dots {
  bottom: -20px;
}



.ourTeam .slick-prev {
  position: relative;
  width: 0px;
  height: 0px;

}

.ourTeam .slick-next {
  position: relative;
  width: 0px;
  height: 0px;

}


.ourTeam .slick-prev::before {
  content: " ";
}

.ourTeam .slick-next::before {
  content: " ";
}

/*=====  End of Our Team Page  ======*/


.slick-next {
  right: -15px;
}

.slick-prev {
  left: -15px;
}



@media only screen and (min-width:1024px) {
  .slick-next {
    right: -20px;
  }

  .slick-prev {
    left: -20px;
  }


}

@media only screen and (min-width:1240px) {
  .slick-next {
    right: -35px;
  }

  .slick-prev {
    left: -35px;
  }



}