.App {
  text-align: center;
}

/* the slides
.slick-slider {
  overflow: hidden;
}

/* the parent */
.slick-list {
  margin: 0 9px;
  padding: 10px;
}

/* item */
.item {
  /* padding: 10px; */
}

.slick-slider .slick-slide {
  padding: 0 15px;
}