.App {
  text-align: center;
  font-family: 'Open Sans', 'sans-serif' !important;
  /* max-width: 1920px !important; */
}

* {
  font-family: 'Open Sans', 'sans-serif' !important;
}

.banner_title {
  font-family: 'Solway', 'serif' !important;
}

/* the parent */
.slick-list {
  margin: 0 9px;
  /* padding: 20px 0; */
}


.slick-slider .slick-slide {
  padding: 0 15px;
}

.PhoneInputInput {
  width: 200px !important;
  height: 100% !important;

}

.PhoneInputCountrySelect {
  height: 100% !important;

}


.css-1dimb5e-singleValue,
.css-qbdosj-Input {
  text-align: justify;
}

.phoneHeight {
  min-height: 100% !important;
  align-items: end;
  border: none;
}

.numberinput input {
  border: none;
  outline: none;
  width: 100%;
}

/* select  */

.css-dbi1yk-control {
  border: none !important;
  outline: none !important;

}

.css-15olw1o-control:hover {
  border: none !important;
  outline: none !important;
}

.css-b62m3t-container {
  border: 2px solid #8888 !important;
  border-radius: 5px;
  outline: none !important;
  height: 100% !important;
  height: 50px !important;

}

.css-b62m3t-container:focus {
  border: 1.5px solid #8888 !important;
  box-shadow: none !important;
  outline: none !important;
}


/* country  */
.css-1fdsijx-ValueContainer {
  padding: 7px !important;
  text-align: start;
  border: 0 !important;

}



.slick-next,
.slick-prev {
  position: absolute;
  width: 50px;
  height: 50px;
  background: #E6EAEE !important;
  border-radius: 50px;
  color: black !important;
  z-index: 2;

}

.slick-next::before {

  color: #000;
  display: flex;
  justify-content: center;
  align-content: center !important;
  margin-top: 3px;


}

.slick-prev::before {

  color: #000;
  display: flex;
  margin-top: 3px;
  justify-content: center;
  align-content: center !important;

}

/*  */

/*  */
.slick-next:hover {
  background: #E6EAEE;
}

.slick-prev:hover {
  background: #E6EAEE;
}


/* .slick-next {
  right: -50px;
}

.slick-prev {
  left: -50px;
} */



/*=============================================
=                  Our Team Page           =
=============================================*/

.ourTeam .slick-dots {
  bottom: -20px;
}



.ourTeam .slick-prev {
  position: relative;
  width: 0px;
  height: 0px;

}

.ourTeam .slick-next {
  position: relative;
  width: 0px;
  height: 0px;

}


.ourTeam .slick-prev::before {
  content: " ";
}

.ourTeam .slick-next::before {
  content: " ";
}

/*=====  End of Our Team Page  ======*/





@media only screen and (max-width:1024px) {
  .slick-next {
    right: -5px;
  }

  .slick-prev {
    left: -5px;
  }
}