@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {

    .normal-text {
        @apply text-[#1A1A1A] text-lg;
    }

    .title {
        @apply text-[#01244A] font-bold text-2xl mt-9;
    }

    .number {
        @apply bg-white rounded-full w-10 h-10 font-bold grid gap-5 content-center
    }

    .card {
        @apply shadow-md text-start max-w-fit mx-auto;
    }

    .cart-title {
        @apply pt-7 pb-5 text-[28px] text-[#002550] font-semibold;
    }

    .cart-desc {
        @apply pb-6 text-[#1A1A1A] text-xl;
    }

    .card-button {
        @apply flex items-center justify-between gap-2 text-center py-5
    }
}